.duracao-container {
    display: flex;
    gap: 10px;
}
.horario-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
    white-space: nowrap;
    scrollbar-width: thin;
    /* Firefox */
    width: 100%;
    max-width: 100%;
}

.horario-container::-webkit-scrollbar {
    height: 6px;
}

.horario-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.form-horario-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin: 2rem 0;
}

.horario-item {
    flex: 0 0 auto;
}

.horarioLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    color: var(--gray-700);
    transition: all 0.2s;
    border: 1px solid #ccc;
    min-width: 60px;
}

/* Esconde o input radio */
.horarioRadio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilo quando selecionado */
.horarioRadio:checked+.horarioLabel {
    background-color: #74AC3D;
    color: white;
    border-color: #74AC3D;
    font-weight: bold;
}

.horarioRadio:disabled + .horarioLabel {
    opacity: 0.5;
    cursor: not-allowed;
}

.dia-selecionado{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .8rem;
    padding: 0.7rem 1rem;
    margin-bottom: 2rem;
    max-width: 50%;
    border: 1px solid #CCC;
}

.dia-selecionado p{
    margin: 0;
}

.dados-horario-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    gap: .2rem
}

.dados-horario-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0 2rem 0;
    padding-top: 2rem;
    border-top: 1px solid #CCC;
    width: 100%;
    gap: 1rem;
}

@media (max-width: 768px) {
  .dia-selecionado {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .form-horario-container,
  .dados-horario-container {
    margin: 1rem 0;
  }
}