.calendario{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    padding: 3rem 0;
}

@media (max-width: 768px) {
  .calendario {
    padding: 2rem 0;
    margin: 1rem 0;
  }
}

@media (max-width: 480px) {
  .calendario {
    padding: 1rem 0;
    margin: 0;
  }
}