.active p{
    font-weight: bold;
    color: #74AC3D;
}

.disabled{
    opacity: 0.3;
}

.steps-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin-bottom: 3rem;
}

.quadra-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
    border-radius: 1rem;
    border: 1px solid #CCC;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .steps-container {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .quadra-info {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}