#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  padding: 0;
  background-color: #FFFFFF;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  min-height: 400px;
  padding: 4rem 4rem;
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 35px;
}

.form-container form {
  width: 100%;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions .button-confirm,
.actions .button-confirm span {
  background-color: #74AC3D;
  color: #FFFFFF !important;
  border: none;
}

.actions button {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 0.75rem 3rem;
  border-radius: .75rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form-container {
    width: 90%;
    padding: 2rem;
    margin: 4rem auto 2rem auto;
  }

  .actions {
    flex-direction: column;
    gap: 1rem;
  }

  .actions button {
    width: 100%;
    padding: 1rem;
  }
}